aiohttp==3.6.2


appnope==0.1.0
async-timeout==3.0.1
attrs==19.3.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.9.1
bleach==3.1.5
branca==0.4.1
Brotli==1.0.7
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0

colorama==0.4.3




cryptography==2.9.2
cycler==0.10.0
dash==1.4.1
dash-core-components==1.3.1
dash-html-components==1.0.1
dash-renderer==1.1.2
dash-table==4.4.1
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
filelock==3.0.12
Fiona==1.8.13.post1
Flask==1.1.2
Flask-Compress==1.5.0
folium==0.11.0
future==0.18.2
geographiclib==1.50



gunicorn==19.0.0
glob2==0.7




ipython-genutils==0.2.0
itsdangerous==1.1.0

Jinja2==2.11.2

json5==0.9.5
jsonschema==3.2.0

jupyter-core==4.6.3
jupyter-server-proxy==1.5.0
jupyterlab==2.2.10
jupyterlab-dash==0.1.0a3


kiwisolver==1.2.0
libarchive-c==2.9
MarkupSafe==1.1.1
matplotlib==3.1.0
mistune==0.8.4



multidict==4.7.6
munch==2.5.0

nbconvert==5.6.1

nbformat==5.0.7
notebook==6.0.3

olefile==0.46
packaging==20.4

pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5

pkginfo==1.5.0.1

prometheus-client==0.8.0
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
pycosat==0.6.3

Pygments==2.6.1

pyparsing==2.4.7
pyproj==2.6.1.post1
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
QtPy==1.9.0

retrying==1.3.3
ruamel-yaml==0.15.87


seaborn==0.10.1
Send2Trash==1.5.0
Shapely==1.7.0
simpervisor==0.3
six==1.15.0

soupsieve==2.0.1
terminado==0.8.3
testpath==0.4.4

tornado==6.0.4

traitlets==4.3.3
typing-extensions==3.7.4.2
urllib3==1.25.9

webencodings==0.5.1
Werkzeug==1.0.1
xmltodict==0.12.0
yarl==1.5.1
zipp==3.1.0
